body {
  font-family: Arial, sans-serif;
  background-color: #c3d0de;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 20px;
}

.form {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,.form-group select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
}

.form button:hover {
  background: #0056b3;
}

/* table  */
.table {
  flex: 2;
  padding: 20px;
}

.table h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

table th {
  background: #f1f1f1;
}

.edit, .delete {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#msg{
  border: none;
  margin-top: 10px;
  background-color: lightgreen;
  min-height: 20px;
  max-width: 250px;
  color: green;
  display: none;
}